body {       
  color: #fff;     
  background-color: lightgrey;
  font-size: 28px;
  font-weight: 300;
  font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0px; 
  padding: 0px;      
}             
    
